<div id="answerLayout{{sid}}" class="txt-video-call-center-answer-call-footer animated bounceIn">
    <div class="{{callType}}"></div>
    <div class="txt-video-call-center-show-text">
        <span class="txt-video-call-center-text-wrap txt-color-black txt-font-14">{{showName}}</span>
        <span class="txt-font-12 txt-color-black">等待视频接通中...</span>
    </div>
    <div class="txt-video-call-center-flex"></div>
    <div id="answerCall{{sid}}"
         class="txt-video-call-center-answer-btn"
         data-sid="{{sid}}"
         data-cid="{{cid}}"
         data-extra="{{extra}}"
         data-showName="{{showName}}">
        (0s) 接受
    </div>
</div>